{
   project =
   {
      description="🍝 MulleThread sleeps until nudged";
      domain="github";
      language="c";
      dialect="objc";
      name="MulleThread";
      user="MulleFoundation";
      repo="MulleThread";
      homepage="https://github.com/MulleFoundation/MulleThread";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="💎 A collection of Objective-C root classes for mulle-objc";
         domain="github";
         name="MulleObjC";
         repo="MulleObjC";
         url="https://github.com/mulle-objc/MulleObjC";
         user="mulle-objc";
      },
      {
         description="📒 Lists mulle-objc runtime information contained in executables.";
         domain="github";
         name="mulle-objc-list";
         repo="mulle-objc-list";
         url="https://github.com/mulle-objc/mulle-objc-list";
         user="mulle-objc";
      }
   );
}
